streamlit

# LangChain Core Packages
langchain
langchain-core
langchain-community

# Vector DB
faiss-cpu

# Embeddings
sentence-transformers

# LLM Providers
langchain-google-genai
openai

# PDF / NLP
pypdf
nltk

# Tokenizer
tiktoken

# Document loader
unstructured
